[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = ["cd backend && pip install -r requirements.txt"]

[phases.build]
cmds = ["echo 'Building Backend...'"]

[start]
cmd = "sh backend/run.sh"
